@media screen and (max-width: 720px){
    .main-first-container {
        width: 100%;
        height: 400px; /* Altezza della tua immagine */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .wave-top {
        position: relative;
        bottom: -80%;
    }

    .main-second-container {
        padding-top: 30%;
    }

    .main-third-container{
        height: 100px;
    }
}