.main-first-container {
    width: 100%;
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wave-top {
    width: 100%;
    height: auto;
    position: relative;
    transform: translateY(50%);
}

.main-second-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-third-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    padding: 1.5em 0 1.5em 0;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px
}

.card{
    border-radius: 20px;
    border: 1px solid black;
    height: 400px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.img-card{
    height: 70%;
    width: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text-card{
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 1.2em;
}

/*------------------------------
  615 PX
  ------------------------------
  */
@media screen and (max-width: 615px){
    .main-first-container {
        height: 50vh;
    }

    .wave-top {
        transform: translateY(80%);
    }

    .main-second-container {
        padding-top: 10%;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .wave-bottom {
        transform: translateY(60%);
    }

    .main-third-container {
        height: 100px;
    }

    h2 {
        font-size: 1.2em;
    }
}


/*------------------------------
  390 PX
  ------------------------------
  */
@media screen and (max-width: 510px) {
    .wave-top {
        width: 100%;
        height: auto;
        position: relative;
        bottom: -55%;
    }

    .wave-bottom{
        width: 100%;
        height: auto;
        position: relative;
        bottom: -50%;
    }
}


/*------------------------------
  380 PX
  ------------------------------
  */
@media screen and (max-width: 380px) {
    .wave-bottom{
        width: 100%;
        height: auto;
        position: relative;
        bottom: -60%;
    }
}


/*------------------------------
  370 PX
  ------------------------------
  */
@media screen and (max-width: 370px) {
    .main-second-container{
        color: brown;
    }
}