.main-first-container{
    padding-bottom: 56.25%; /* rapporto 16/9 della foto --> 9/16*100 */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.main-second-container{
    padding: 30px 20px 40px 20px;
    text-align: center;
}

.main-second-container h2{
    font-size: 27px
}

.main-second-container ul{
    list-style-type: disc;
}

.main-second-container ul li{
    font-size: 18px;
}

.main-third-container{
    background-color: #EDE8DC;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 250px;
}

.main-card{
    align-items: center;
    display: flex;
    flex: 0 0 calc(50%-10px);
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
    margin: 40px;
    padding: 10px;
    text-align: center;
    width: 120px;
}

.main-card:hover{
    color: white;
    cursor: pointer;
    box-shadow: 3px 3px 5px black;
}

.main-card div{
    font-size: 70px;
}