.login-container{
    height: 100vh;
    width: 100%;
}

.login-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    text-align: center;
}

.login-wrapper h2{
    font-size: 4em;
    margin-bottom: 50px;
    white-space: normal;
    word-wrap: break-word;
    font-weight: 650;
}

.login-error{
    color: red;
    margin-bottom: 20px;
}

.login-form-wrapper div{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.login-form-wrapper div label{
   font-weight: 600;
   margin-bottom: 7px;
}

.login-form-wrapper div input{
    font-weight: 400;
    width: 100%;
    height: 30px;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    text-align: center;
}

.login-form-wrapper button{
    width: 100%;
    height: 32px;
    margin-top: 20px;
    font-weight: bolder;
    border-radius: 15px;
    color:white;
}


@media screen and (max-width: 720px) {
    .login-container{
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: start;
    }

    .login-wrapper{
        text-align: center;
        margin: 70px 30px 50px 30px;
    }

    .login-wrapper h2{
        font-size: 50px;
    }

    .login-error{
        color: red;
        margin-bottom: 10px;
        font-size: 17px;
    }

    .login-form-wrapper{
        margin-bottom: 30px;
    }

    .login-form-wrapper div{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .login-form-wrapper div label{
       font-weight: 600;
       margin-bottom: 7px;
    }

    .login-form-wrapper div input{
        font-weight: 400;
        width: 100%;
        height: 30px;
        font-weight: bold;
        border-radius: 15px;
        border: none;
        text-align: center;
    }

    .login-form-wrapper button{
        width: 100%;
        height: 32px;
        margin-top: 20px;
        font-weight: bolder;
        border-radius: 15px;
        color:white;
    }

}